/* ---------ALLGEMEINE STYLES----------- */
@font-face {
font-family: "Kindheitfont";
src: url(fonts/Kindheitfont.woff2) format(woff2)
} 
@font-face {
font-family: "Alte Haas Grotesk Bold";
src: url(fonts/Alte\ Haas\ Grotesk\ Bold\ V2.woff2) format(woff2)
} 
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

img{
max-width: 100%;
height: auto;
display: block;
}

a {
    color: black;
    text-decoration: none;
}


/* --------------MEIN RASTER--------------- */
.grid-container{
display: grid;
padding: 15px;
gap: 15px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: 
"name info info info bio"
"image-1 image-1 . image-3 image-3"
". . image-2 image-2 .";
}

.name {
grid-area: name;
z-index: 6;
}
.name h1 {
color: rgb(0, 0, 0);
font-size: 35px;
margin: 0;
font-family: "Kindheitfont";
}

.bio {
grid-area: bio;
z-index: 6;
}
.bio p {
color: rgb(0, 0, 0);
font-size: 35px;
margin: 0;
line-height: 1;
text-align: right;
font-family: "Alte Haas Grotesk Bold";
margin-bottom: -300px;
margin-top: 13px;
}


.bio a.stars {
    display: inline-flex;
    gap: 2px;
}

.bio a.stars span {
    display: inline-block;
    transform-origin: center center;
    line-height: 1;
}


.bio a.stars:hover span {
    animation: spin 1s linear infinite;
}

.bio a.stars span:nth-child(1) {
    animation-delay: 0s;
}

.bio a.stars span:nth-child(2) {
    animation-delay: 0s;
}

.bio a.stars span:nth-child(3) {
    animation-delay: 0s;
}


/* grosser text */
.text-1{
font-size: 150px;
font-family: "Alte Haas Grotesk Bold";
text-align: justify;
grid-column: 1 / -1;
grid-row: 1 / -1;
z-index: 5;
margin-bottom: -300px;
pointer-events: none;
transition: filter 0.3s ease;
}

.text-1 p {
margin-top: 50px;
}

/* Bilder */
.image-1 {
grid-area: image-1;
position: relative;
z-index: 2;
transition: filter 0.3s ease, z-index 0s;
cursor: pointer;
}
.image-2 {
grid-area: image-2;
position: relative;
z-index: 2;
transition: filter 0.3s ease, z-index 0s;
cursor: pointer;
}
.image-3 {
grid-area: image-3;
position: relative;
z-index: 2;
transition: filter 0.3s ease, z-index 0s;
cursor: pointer;
}

/* hover blurry */
.image-1:hover {
z-index: 10;
filter: none;
}
.image-2:hover {
z-index: 10;
filter: none;
}
.image-3:hover {
z-index: 10;
filter: none;
}


.image-1:hover ~ .image-2,
.image-1:hover ~ .image-3,
.image-1:hover ~ .text-1 {
filter: blur(5px);
}


.image-2:hover ~ .image-3,
.image-2:hover ~ .text-1 {
filter: blur(5px);
}

/* :has() muss ich merken: es ersetzt ein anderes */
.grid-container:has(.image-2:hover) .image-1 {
filter: blur(5px);
}


.image-3:hover ~ .text-1 {
filter: blur(5px);
}
.grid-container:has(.image-3:hover) .image-1,
.grid-container:has(.image-3:hover) .image-2 {
filter: blur(5px);
}


.image-1:hover ~ .info1 {
opacity: 1;
}
.image-2:hover ~ .info2 {
opacity: 1;
}
.image-3:hover ~ .info3 {
opacity: 1;
}

/* INFO CONTAINER */
.info {
grid-area: info;
z-index: 11;
position: relative;
}


.info1,
.info2,
.info3 {
opacity: 0;
transition: opacity 0.3s ease;
font-family: "Alte Haas Grotesk Bold";
font-size: 20px;
line-height: 1.4;
position: absolute;  
top: 0;
left: 0;
width: 100%;
margin-top: -5px;
text-align: center;

}

.info1 em {
    font-style: italic;
}

.info2 em {
    font-style: italic;
}

.info3 em {
    font-style: italic;
}
    
/* .grid-container:has() ist basically als ob der grid-container einen nachfolger hat */

.grid-container:has(.image-1:hover) .info1 {
opacity: 1;
}

.grid-container:has(.image-2:hover) .info2 {
opacity: 1;
}

.grid-container:has(.image-3:hover) .info3 {
opacity: 1;
}








