/* ---------ALLGEMEINE STYLES----------- */
@font-face {
font-family: "Kindheitfont";
src: url(fonts/Kindheitfont.woff2) format(woff2)
} 
@font-face {
font-family: "Alte Haas Grotesk Bold";
src: url(fonts/Alte\ Haas\ Grotesk\ Bold\ V2.woff2) format(woff2)
} 

img{
max-width: 100%;
height: auto;
display: block;
}

/* --------------MEIN RASTER--------------- */
.grid-container{
display: grid;
padding: 15px;
gap: 15px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: 
"name . . info bio"
"image-1 image-1 . image-3 image-3"
". . image-2 image-2 .";
}
/* "johannamargitta" und bio"***" */
.name {
grid-area: name;
z-index: 6;
}
.name h1 {
color: rgb(0, 0, 0);
font-size: 35px;
margin: 0;
font-family: "Kindheitfont";
}
.name h1:hover{
font-style: italic;
}

.bio {
grid-area: bio;
z-index: 6;
}
.bio p {
color: rgb(0, 0, 0);
font-size: 35px;
margin: 0;
line-height: 1;
text-align: right;
font-family: "Alte Haas Grotesk Bold";
margin-top: 23px;
}

.bio p:hover{
    font-style: italic;
}

/* grosser text */
.text-1{
font-size: 150px;
font-family: "Alte Haas Grotesk Bold";
text-align: justify;
grid-column: 1 / -1;
grid-row: 1 / -1;
z-index: 5;
pointer-events: none;
transition: filter 0.3s ease;
}

/* Bilder */
.image-1 {
grid-area: image-1;
position: relative;
z-index: 2;
transition: filter 0.3s ease, z-index 0s;
cursor: pointer;
}
.image-2 {
grid-area: image-2;
position: relative;
z-index: 2;
transition: filter 0.3s ease, z-index 0s;
cursor: pointer;
}
.image-3 {
grid-area: image-3;
position: relative;
z-index: 2;
transition: filter 0.3s ease, z-index 0s;
cursor: pointer;
}

/* hover blurry */
.image-1:hover {
z-index: 10;
filter: none;
}
.image-2:hover {
z-index: 10;
filter: none;
}
.image-3:hover {
z-index: 10;
filter: none;
}


.image-1:hover ~ .image-2,
.image-1:hover ~ .image-3,
.image-1:hover ~ .text-1 {
filter: blur(5px);
}


.image-2:hover ~ .image-3,
.image-2:hover ~ .text-1 {
filter: blur(5px);
}

/* :has() merken: es ersetzt ein anderes */
.grid-container:has(.image-2:hover) .image-1 {
filter: blur(5px);
}


.image-3:hover ~ .text-1 {
filter: blur(5px);
}
.grid-container:has(.image-3:hover) .image-1,
.grid-container:has(.image-3:hover) .image-2 {
filter: blur(5px);
}


.image-1:hover ~ .info1 {
opacity: 1;
}
.image-2:hover ~ .info2 {
opacity: 1;
}
.image-3:hover ~ .info3 {
opacity: 1;
}

/* INFO CONTAINER */
.info {
grid-area: info;
z-index: 11;
position: relative;
}


.info1,
.info2,
.info3 {
opacity: 0;
transition: opacity 0.3s ease;
font-family: "Alte Haas Grotesk Bold";
font-size: 30px;
line-height: 1.4;
position: absolute;  
top: 0;
left: 0;
width: 100%;
margin-left: 300px;
margin-top: -20px;
}

/* .grid-container:has() ist basically als ob der grid-container einen nachfolger hat */

.grid-container:has(.image-1:hover) .info1 {
opacity: 1;
}

.grid-container:has(.image-2:hover) .info2 {
opacity: 1;
}

.grid-container:has(.image-3:hover) .info3 {
opacity: 1;
}








