/* ---------ALLGEMEINE STYLES----------- */
img{
    max-width: 100%;
    height: auto;
}
body {
    background-color: aqua;
}

/* ----------MEIN RASTER--------------- */
.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name name name name bio bio"
    "text-1 image-1 image-1 image-1 image-1 image-1"
    "image-2 image-2 image-2 text-2 text-2 ."
    "image-3 image-3 image-3 text-3 . . ";
    
}

.name {
    grid-area: name;
}

.name h1 {
    color: rgb(251, 255, 0);
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;

}

.name h1:hover{
    color:rgb(255, 43, 43);
    font-style: italic;
    transition: color 0.8s ease;
}
.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 0;
    line-height: 1;
    text-align: justify;
    opacity: 1;
    transition: opacity 0.5s ease;

}

.bio p:hover {
    opacity: 0.2;
}
/* shift command 7 für kommentar */


.parisimage-1 {
    grid-area: image-1;
}

.parisimage-1 img {
    transition: transform 0.3s ease;
}

.parisimage-1 img:hover {
    transform: scale(1.5);
}

.image-2 {
    grid-area: image-2;
}

.parisimage-2 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3 ease;
}


.parisimage-2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
}

.parisimage-4 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3 ease;
}


.parisimage-4 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
}
.parisimage-3 {
    grid-area: image-3;
}

.parisimage-3 img {
    transition: transform 0.5s ease;
}

.parisimage-3 img:hover {
    transform: rotate(360deg);
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}
